<h1>Listing partners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.name %></td>
    <td><%= partner.url %></td>
    <td><%= partner.description %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
